VITE_SUPABASE_URL= https://vahuuunhjreqjtarmpfr.supabase.co
VITE_SUPABASE_ANON_KEY= eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZhaHV1dW5oanJlcWp0YXJtcGZyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzQxMDUwOTYsImV4cCI6MjA0OTY4MTA5Nn0.98_BQoJgcaBizZSU_TdEn8Fv50BqsiJkzCK7V1C8tHs